@import "mixins";

.content {
  position: relative;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.3rem;

  &__bureau {
    position: relative;
  }

  &__fonts {
    position: relative;
    margin-top: 3.2rem;

    @include phone {
      margin-top: 32px;
    }
  }

  @include phone {
    font-size: 16px;
    line-height: 20px;
  }
}

.arrow {
  height: .8rem;
  width: .4rem;
  display: inline-block;
  position: relative;
  top: 0.05rem;
  vertical-align: middle;
  margin-left: .2rem;

  @include phone {
    height: 16px;
    width: 8px;
    top: 1px;
    margin-left: 2px;
  }

  background-image: url("./img/arrow.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.link {
  display: inline-block;
  position: relative;

  &::before {
    display: block;
    position: absolute;
    content: " ";
    height: 1px;
    width: 100%;
    background-color: $black;
    bottom: 0;
  }
}
