$black: #000;
$white: #fff;


$royal-blue: #1a76e8;
$denim: #156dda;
$denim-dark: #1361c3;
$tory-blue: #1156ab;

$accent: $royal-blue;
$interactive: $denim;
$interactive-hover: $denim-dark;
$interactive-active: $tory-blue;

$overlay: rgba(0, 0, 0, 0.6);
$mobile-menu-overlay: rgba(0, 0, 0, 0.6);


//rage
$rage-darkred: #DF0000;
$rage-yellow: #FFE500;
$rage-green: #00D254;
$rage-lightblue: #A6DFFF;
$rage-darkgreen: #00886A;

$happiness-olive: #EFFFDA;
$happiness-darkblue: #0628A4;
$happiness-brown: #4B1E1E;
$happiness-orange: #FFE600;
$happiness-darkgreen: #515800;

$disgust-pink: #FFCAC7;
$disgust-mudgreen: #515800;
$disgust-grey: #4B4B4B;
$disgust-sky: #C0F0FF;
$disgust-blue: #0094FF;

$sadness-fonk: #00E0FF;
$sadness-darkbrown: #761C00;
$sadness-lightyellow: #FBFF4E;
$sadness-lightgrey: #A1B4C5;
$sadness-acidorange: #FF6B00;
