@import "mixins";

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
}

.font-description {
  position: relative;
  top: -20%;
  //left: 50%;
  //transform: translate(-50%, -50%);
  text-align: center;

  @include phone {
    top: -30%;
    padding: 0 8px;
  }

  &__name {
    @include body-md-bold;

    @include phone {
      @include body-md-bold;
    }
  }

  &__text {
    width: 100%;
    max-width: 450px;
    margin: 8px auto 0;

    text-align: center;

    @include body-md-medium;


    @include phone {
      @include body-md-medium;
    }
  }
}
